@using UniversityManagementSystem.Models

@{
    ViewBag.Title = "Enroll";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

<div class="container">

    <form id="myForm" method="post" role="form" style="width: 500px">
        <fieldset>
            <legend>Enroll course</legend>

            <div class="form-group">
                <label for="RegNo">Student Reg. No.:</label>
                <select class="form-control" id="RegNo" name="StudentId">
                    <option value="">Select .....</option>
                    @foreach (Student student in ViewBag.studentRegnos)
                    {
                        <option value="@student.Id">@student.RegNo</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" readonly="readonly" class="form-control" id="Name" name="Name">
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" readonly="readonly" class="form-control" id="Email" name="Email">
            </div>
            <div class="form-group">
                <label for="Demartment">Demartment:</label>
                <input type="text" readonly="readonly" class="form-control" id="Demartment" name="Demartment">
            </div>
            <div class="form-group">
                <label for="SelectCourse">Select Course:</label>
                <select class="form-control" id="SelectCourse" name="CourseId">
                    <option value="">Select .....</option>
                    @foreach (Course course in ViewBag.Courses)
                    {
                        <option value="@course.Id">@course.Name</option>
                    }
                </select><span style="color: red"> @ViewBag.Erroemessage</span>
            </div>
            <div class="form-group">
                <label for="Date">Date:</label>
                <input type="text" class="form-control" id="Date" name="Date">
            </div>
            
            <div>
                <input type="submit" class="btn btn-info" value="Save"><span style="color: green"> @ViewBag.successmessage</span>
            </div>
            <div></div>
        </fieldset>
    </form>
</div>
@section scripts
{
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function() {

            $("#RegNo").change(function() {

                var deptId = $("#RegNo").val();
                var json = { studentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudetnInfo", "EnrollCourse")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        //alert(data);
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#Name").val(value.Name);
                        });
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#Email").val(value.Email);
                        });
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#Demartment").val(value.DepartmentName);
                        });
                    }
                });

            });
            $('#Date').datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
        $("#myForm").validate({
            rules: {
                StudentId: "required",
                CourseId: "required",
                Date: "required"
            },
            messages: {
                StudentId: "Select Reg. No.",
                CourseId: "Select a course",
                Date: "Select date"
            }
        });
    </script>
}